{% extends 'layout.html' %}

{% block body %}
<style>
    h1 {
        text-align: center;
        margin-top: 20px;
    }
    table {
        border-collapse: collapse;
        width: 80%;
        margin: 20px auto;
        text-align: center;
        font-size: 16px;
    }
    th, td {
        padding: 10px 15px;
        border: 1px solid #888;
    }
    th {
        background-color: #f2f2f2;
    }
</style>

<div style="display: flex; justify-content: center; margin-top: 30px;">
    <table border="1" style="text-align: center;">
        <tr>
            <th>Mã nhân viên</th>
            <th>Họ tên</th>
            <th>Chức vụ</th>
            <th>Số điện thoại</th>
            <th>Ca làm việc</th>
            <th>Chi tiết các orders được gán</th>
        </tr>
        {% for staff in staffs %}
            <tr>
                <td> {{staff.ma_nhan_vien}} </td>
                <td> {{staff.ho_ten}} </td>
                <td> {{staff.chuc_vu}} </td>
                <td> {{staff.so_dien_thoai}} </td>
                <td> {{staff.ca_lam_viec}} </td>
                <td>
                    <a href="{% url 'show_staff_detail' staff.id %}">Xem</a>
                </td>
        {% endfor %}
    </table>
</div>
{% endblock %}